# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# SO
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Cache
.cache/
.parcel-cache/
.turbo/

# Local Netlify folder
.netlify
